absl-py==1.0.0
aio-pika==6.4.1
aiormq==3.3.1
astor==0.8.1
beautifulsoup4==4.10.0
bert-dp @ git+https://github.com/deepmipt/bert.git@741d9bed9d52c6a9409ca27d8bf284615645618b
blis==0.7.6
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.4
colorlog==6.6.0
cryptography==36.0.1
cymem==2.0.6
Cython==0.29.14
DAWG-Python==0.7.2
dependency-decoding @ git+https://github.com/andersjo/dependency_decoding.git@79510908223b93bd4c1fb0409a2a66dd75577c2c
docopt==0.6.2
docx2txt==0.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
fastapi==0.47.1
filelock==3.0.12
ftfy==6.1.1
gast==0.2.2
google==3.0.0
google-pasta==0.2.0
GoogleFreeTrans==0.1.3
googletrans==3.0.0
graphviz==0.19.1
grpcio==1.44.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httptools==0.1.2
httpx==0.13.3
huggingface-hub==0.0.8
hyperframe==5.2.0
idna==2.8
imageio==2.16.1
importlib-metadata==4.11.2
jieba==0.42.1
Jinja2==3.0.3
joblib==1.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
langcodes==3.3.0
ltp==4.1.5.post2
Markdown==3.3.6
MarkupSafe==2.1.1
multidict==6.0.2
murmurhash==1.0.6
networkx==2.6.3
nltk==3.4.5
numpy==1.18.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
overrides==2.7.0
packaging==21.3
pamqp==2.3.0
pandas==0.25.3
pathy==0.6.1
Pillow==9.0.1
pipreqs==0.4.11
preshed==3.0.6
prometheus-client==0.7.1
protobuf==3.19.4
psutil==5.9.0
pycparser==2.21
pydantic==1.8.2
PyExecJS==1.5.1
pygoogletranslation==2.0.6
pygtrie==2.4.2
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.417127.4579844
pyOpenSSL==19.1.0
pyparsing==3.0.7
PyPDF2==1.26.0
pyTelegramBotAPI==3.6.7
python-dateutil==2.8.2
pytz==2019.1
PyWavelets==1.2.0
PyYAML==6.0
regex==2022.3.2
requests==2.22.0
rfc3986==1.5.0
ruamel.yaml==0.15.100
rusenttokenize==0.0.5
sacremoses==0.0.35
scikit-image==0.19.2
scikit-learn==0.21.2
scipy==1.4.1
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
soupsieve==2.3.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
srsly==2.4.2
stanfordcorenlp==3.9.1.1
starlette==0.12.9
swin-transformer-v2 @ git+https://github.com/ChristophReich1996/Swin-Transformer-V2@3c6a5e58c59afdd5b4f26c8af085a5a69120957e
tensorboard==1.15.0
tensorflow==1.15.5
tensorflow-estimator==1.15.1
termcolor==1.1.0
thinc==8.0.15
tifffile==2021.11.2
timm==0.5.4
tokenizers==0.10.3
torch==1.10.2
torchvision==0.11.3
tqdm==4.62.0
transformers==4.7.0
typer==0.4.0
typing-extensions==3.10.0.2
Unidecode==1.3.4
urllib3==1.25.11
uvicorn==0.11.7
uvloop==0.14.0
wasabi==0.9.0
wcwidth==0.2.5
websockets==8.1
Werkzeug==2.0.3
wrapt==1.14.0
yacs==0.1.8
yarg==0.1.9
yarl==1.7.2
zipp==3.7.0
